a {
  color: #0e9ce0;
}
span:lang(ja) {
  font-family: sans-serif;
}
span:lang(cn) {
  font-family: sans-serif;
}
.temp > li > a {
  display: inline;
  padding: 0px 15px !important;
}
.temp > li > a:hover,
.temp > li > a:focus {
  text-decoration: underline;
  background-color: transparent;
}
.temp > li.disabled > a:hover,
.temp > li.disabled > a:focus {
  text-decoration: underline;
  background-color: transparent;
}

.authors{
  font-style: italic;
}

.collapsible {
  background-color: #9;
  color: #0e9ce0;
  cursor: pointer;
  padding: 0 5px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 12px;
}

.active, .collapsible:hover {
  background-color: #0e9ce0;
  color: white;
}

.content {
  margin: 10px;
  padding-left: 10px;
  display: none;
  overflow: hidden;
  background-color: white;
  color: black;
  border-left: solid silver 5px;
}
